name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    strategy:
      matrix:
        php: ['7.3', '7.4', '8.0', '8.1', '8.2']

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.24.0
        with:
          php-version: "${{ matrix.php }}"

      - name: Build libdeflate
        run: |
           git clone --depth=1 https://github.com/ebiggers/libdeflate.git -b v1.17
           cd libdeflate
           cmake . -DCMAKE_PREFIX_PATH=. -DCMAKE_INSTALL_PREFIX=.
           make install
           cd ..

      - name: Build extension
        run: |
          phpize
          PKG_CONFIG_PATH="${{ github.workspace }}/libdeflate/lib/pkgconfig" ./configure --with-libdeflate
          make

      - name: Run .phpt tests
        run: REPORT_EXIT_STATUS=1 NO_INTERACTION=1 TEST_PHP_ARGS="--show-diff" make test
