name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-18.04
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    strategy:
      matrix:
        php: ['7.3', '7.4', '8.0', '8.1']

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@2.15.0
        with:
          php-version: "${{ matrix.php }}"

      - name: Build libdeflate
        run: |
           git clone --depth=1 https://github.com/ebiggers/libdeflate.git -b v1.6
           cd libdeflate
           PREFIX=. make install
           cd ..

      - name: Build extension
        run: |
          phpize
          ./configure --with-libdeflate=libdeflate
          make

      - name: Run .phpt tests
        run: REPORT_EXIT_STATUS=1 NO_INTERACTION=1 TEST_PHP_ARGS="--show-diff" make test
